    /* Base Styles */
    :root {
        --primary-color: #000d1a;
        --secondary-color: #fca73a;
        --text-color: #fff;
        --accent-color: #2a2a2a;;
      }


    /* Header Section */
    .blog_image {
      width: 90%;
      margin: 8% auto 0;
      height: 65vh;
      border-radius: 20px;
        position: relative;
        overflow: hidden;
      }
  
      .blog_image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .blog_image h1 {
      font-size: 2.5rem;
      margin: 0;
      color: var(--primary-color);
      text-align: center;
    }

    /* Main Content */
    main {
      padding: 20px;
      max-width: 80%;
      margin: 0 auto;
      color: var(--accent-color);
    }

    main h2 {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }

    main p {
      margin: 1rem 0;
    }

    main strong {
      font-size: 1.2rem;
    }

    main hr {
      border: none;
      border-top: 1px solid var(--accent-color);
      margin: 2rem 0;
    }



    /* Responsive Design */
    @media (max-width: 768px) {
      .header-content h1 {
        font-size: 1.5rem;
      }

      main {
        padding: 10px;
      }

    }
